@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}
h3{
    font-size: 18px;
    font-weight: 600;
}
h4{
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
h5{
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}
h6{
    font-size: 12px;
    font-weight: 500;
    color: #647376;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #647376;
}
.total-content{
    display: grid;
    grid-template-columns: 80px auto;
}
.left-small{
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px groove #D8D8D8;
}
.messege-icon{
    display: flex;
    justify-content: center;
}
.messege-icon img{
    width: 40px;
    height: 40px;
    padding: 20px 0px;
    padding-bottom: 150px;
}
.forum-back{
    margin: 15px 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.left-center-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-center-icons img{
    padding: 30px 0px;
    width: 30px;
    height: 30px;
}
.right-top{
    padding: 20px;
    border-bottom: 1px groove #D8D8D8;
}
.top-flex{
    display: flex;
    justify-content: space-between;
}
.icon-messege{
    display: flex;
}
.messege-small-icon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.grey-icon{
    background-image: url(assets/Rectangle\ 61top-1.png);
}
.five-image{
    position: relative;
}
.five-image h4{
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
}
.top-right-left-images{
    height: 34px;
    display: flex;
    border-right: 1px groove #D8D8D8;
}
.top-right-left-images img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.person-add{
    margin-right:20px ;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.search-last-image{
    padding-left: 20px;
    display: flex;
}
.search-icon{
    margin-right: 10px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.top-right-images{
    display: flex;
}
.right-content-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.right-first-column{
    height: 100vh;
    border-right: 1px groove #D8D8D8;
}
.card-border{
    border-bottom: 1px groove #D8D8D8;
}
.card-flex{
    display: flex;
    padding: 30px 20px;
    margin: 20px;
    align-items: center;
}
.extra{
    background: rgba(100, 115, 118, 0.05);
    border-radius: 20px;
}
.folder-icon{
    padding-right: 15px;
}
.right-second-column{
   display: inline-block;
    border-right: 1px groove #D8D8D8;
}
.chat-portion{
    padding-bottom: 20px;
}
.message-content-pic-holder{
    padding:30px 30px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
}
.name-time{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.name-time h6{
    padding-right: 5px;
}
.profile-pic-holder{
    padding-left: 10px;
    width: 35px;
    height: 35px;
}
.profile-holder-content{
    margin-left: 50px;
    padding: 5px 15px;
    background-color: #6A57CA;
    border-radius: 15px 0px 15px 15px;
}
.main-message-holder{
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
}
.message-content-pic-member{
    padding:30px 30px 0px 0px;
    display: flex;
}
.name-time-member{
    display: flex;
    align-items: center;
}
.name-time-member h6{
    padding-left: 5px;
}
.profile-member-content{
    display: inline-block;
    margin-right: 30px;
    padding: 5px 15px;
    background-color: #d8d8d8;
    border-radius: 0px 15px 15px 15px;
}
.profile-pic-member{
    padding-left: 10px;
    padding-right: 10px;
    width: 35px;
    height: 35px;
}
.main-message-member{
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}
.three-img{
    padding-top: 10px;
    display: flex;
    column-gap:20px;
}
.pdf-whole-content{
    margin: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.pdf-image-para{
    display: flex;
}
.pdf-image{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(106, 87, 202, 0.2);
    border-radius: 5px;
}
.pdf-content-mb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 30px;
}
.pdf-content-mb h5{
    font-size: 10px;
    font-weight: 500;
    color: #333333;
}
.pdf-content-mb p{
    font-size: 8px;
    font-weight: 500;
    color: #647376;
}
.two-icon{
    display: flex;
}
.dowload-icon{
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.reply-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.footer{
    position: fixed;
    bottom: 0;
}

.footer-content{
    padding: 0px 25px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px groove #D8D8D8;
}
.footer-placeholder p{
    font-size: 12px;
    font-weight: 600;
    color: #647376;
}
.footer-icons{
    display: flex;
    align-items: center;
}
.add-icon{
    padding-left: 15px;
}
.sent-icon{
    margin-left: 25px;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6A57CA;
    border-radius: 8px;
}
.right-third-column{
    padding: 30px;
}
.third-column-icon{
    display: flex;
    justify-content: space-between;
}
.star{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.person-add-last-column{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px groove #D8D8D8;
    border-radius: 8px;
}
.big-profile-pic-name{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.third-column-content p{
    font-size: 12px;
}
.third-column-content div{
    padding-bottom: 30px;
}